<%- include('partials/header.ejs') %>
<% if(sensor===null) {%>
<h3>Sensor Tidak Tersedia</h3>
<%} else { %>
<h3>Pembacaan Sensor <%= sensor %></h3>
<h4>Dengan Nilai: <%= value %> </h4>
<%} %>
<%- include('partials/footer.ejs') %>